{{>head}}
<h2>Create Post</h2>
<div class="row panel pad">
    {{formErrors formErrors.form}}
    <div class="col s12">
        <div class="row" style="margin-top: 18px">
            {{formErrors formErrors.title}}
            <div class="input-field col s12">
                <input id="title" type="text" class="validate" name="title" required>
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            {{formErrors formErrors.content}}
            <div class="input-field col s12">
                <textarea name="ignore" required></textarea>
            </div>
        </div>
        <div class="row">
            <div style="display:none" class="file-field input-field">
                <div class="btn" style="width: 100%; box-sizing: border-box; margin-top: 10px">
                    <span>ADD IMAGE</span>
                    <input id="image-input" multiple type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <ul id="preview-images">
                <li id="add-image-item">
                    <img src="/res/add_image.svg"/>
                </li>
            </ul>
        </div>
        <style>
            #preview-images li img {
                height: 100px;
                width: auto;
                display: block;
                margin: 0;
            }

            #preview-images li:not(:first-of-type) {
                border: 1px solid #d1d5da;
            }

            #preview-images li {
                display: inline-block;
                float: left;
                margin-right: 20px;
                margin-bottom: 20px;
            }

            #preview-images {
                overflow: auto;
            }

        </style>
        <div style="height: 500px; width: 100%" class="panel pad" id="map"></div>
        <div class="row">
            <div class="input-field col s12">
                <button id="submit-post" class="waves-effect waves-light btn-large">Create</button>
            </div>
        </div>
    </div>
    <form method="POST" id="form" style="display:none;">
    </form>
    <script>

        const submit = {images: []};
        const mde = new SimpleMDE();
        mde.codemirror.on("change", function () {
            submit.content = mde.value();
        });

        const form = document.getElementById("form");
        const addImageItem = document.getElementById("add-image-item");
        const titleInput = document.getElementById("title");
        const imageInput = document.getElementById('image-input');
        const imageList = document.getElementById('preview-images');

        addImageItem.addEventListener('click', function () {
            imageInput.click();
        });

        document.getElementById("submit-post").addEventListener('click', function () {

            Object.keys(submit).forEach(key => {
                const value = submit[key];
                const input = document.createElement('input');
                input.name = key;
                if (Array.isArray(value))
                    input.value = value.join(";;");
                else
                    input.value = value;
                form.appendChild(input);
            });

            form.submit();
        });

        titleInput.addEventListener('change', function () {
            submit.title = titleInput.value;
        });

        imageInput.addEventListener('change', function () {
            for (let i = 0; i < imageInput.files.length; i++) {
                const file = imageInput.files[i];
                const imageElement = document.createElement("img");
                const reader = new FileReader();
                reader.onload = function () {
                    submit.images.push(reader.result);
                    imageElement.src = reader.result;
                    const li = document.createElement("li");
                    li.appendChild(imageElement);
                    imageList.appendChild(li);
                };
                reader.readAsDataURL(file);
            }
        });

        const map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });

        let marker;

        map.addListener('click', function (e) {
            if (marker)
                marker.setMap(null);
            marker = new google.maps.Marker({
                position: e.latLng, map
            });

            map.panTo(e.latLng);
            submit.latitude = e.latLng.lat();
            submit.longitude = e.latLng.lng();
        });

    </script>
</div>
{{>tail}}