<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{err.name}}</title>
    <style>
        * {
            padding: 0;
            margin: 0 0 1vh 0;
            font-family: Arial;
        }

        body {
            padding: 2vh;
        }
    </style>
</head>
<body>
<h1>{{err.name}}</h1>
<p>{{err.message}}</p>
</body>
</html>